## Assignment 1 Week 3

Decision Tree

In [1]:
import sys, os
from datetime import datetime, timedelta,date
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import json
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import linear_model

In [9]:
loan_data = pd.read_csv('../data/lending-club-data.csv')

/Users/nehiljain/.pyenv/versions/3.4.6/envs/py34/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
loan_data.shape

(122607, 68)

In [11]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.2,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,0.8,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1

In [12]:
loan_data['safe_loans'] = np.where(loan_data.bad_loans == 0, 1, -1)

In [13]:
loan_data.safe_loans.value_counts()

 1    99457
-1    23150
Name: safe_loans, dtype: int64

In [14]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                    # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loan_data = loan_data[features + [target]]

In [15]:
train_indexes = pd.read_json('../data/module-5-assignment-1-train-idx.json')
val_indexes = pd.read_json('../data/module-5-assignment-1-validation-idx.json')

In [16]:
train_data = loan_data.iloc[train_indexes[0].tolist()]
val_data = loan_data.iloc[val_indexes[0].tolist()]

In [19]:
safe_loans_raw = loan_data[loan_data[target] == +1]
risky_loans_raw = loan_data[loan_data[target] == -1]
print("Number of safe loans  : %s" % len(safe_loans_raw))
print("Number of risky loans : %s" % len(risky_loans_raw))

Number of safe loans  : 99457
Number of risky loans : 23150

In [21]:
# Since there are fewer risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))
print(percentage)

0.2327639080205516

In [25]:
risky_loans = risky_loans_raw
safe_loans = safe_loans_raw.sample(len(risky_loans_raw), random_state=1)

In [27]:
loans_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.000,-1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.000,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.000,-1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.000,-1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.000,-1
18,B,B4,0,11,RENT,13.22,debt_consolidation,36 months,1,1,90.3,0.000,-1
21,B,B3,0,2,RENT,2.40,major_purchase,36 months,1,1,29.7,0.000,-1
23,C,C2,0,10,RENT,15.22,debt_consolidation,36 months,1,1,57.6,0.000,-1
24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.5,0.000,-1
41,A,A5,0,11,MORTGAGE,16.33,debt_consolidation,36 months,1,1,62.1,0.000,-1
45,B,B1,0,9,MORTGAGE,9.12,debt_consolidation,36 months,1,1,63.7,24.170,-1
48,C,C5,0,5,RENT,20.88,car,36 months,1,1,90.8,0.000,-1
50,E,E4,0,8,RENT,21.58,debt_consolidation,60 months,1,1,97.6,0.000,-1
58,D,D3,0,6,RENT,13.16,debt_consolidation,60 months,1,1,70.8,0.000,-1
60,F,F2,0,5,RENT,12.48,small_business,60 months,1,1,73.9,0.000,-1
63,D,D2,0,6,RENT,20.22,debt_consolidation,36 months,0,1,67.5,0.000,-1
87,D,D3,0,8,MORTGAGE,21.31,credit_card,60 months,1,1,86.1,0.000,-1
89,B,B1,0,3,RENT,20.64,debt_consolidation,36 months,1,1,47.7,0.000,-1
93,D,D2,0,11,RENT,23.18,debt_consolidation,60 months,1,1,79.7,0.000,-1
102,D,D5,0,2,RENT,24.14,credit_card,36 months,0,1,96.3,36.247,-1
108,B,B2,0,5,RENT,22.80,debt_consolidation,36 months,0,1,54.2,0.000,-1
111,E,E4,0,11,RENT,20.70,debt_consolidation,60 months,1,1,87.6,0.000,-1
118,C,C5,0,9,MORTGAGE,9.17,home_improvement,36 months,1,1,71.2,0.000,-1
124,A,A2,0,11,RENT,29.85,credit_card,36 months,1,1,62.3,0.000,-1
132,B,B1,0,3,RENT,7.83,debt_consolidation,36 months,1,1,65.4,0.000,-1
136,B,B3,0,9,RENT,22.08,debt_consolidation,36 months,1,1,29.3,0.000,-1
138,C,C1,0,11,RENT,21.89,credit_card,60 months,1,1,65.8,0.000,-1
140,C,C3,0,2,MORTGAGE,12.24,debt_consolidation,36 months,0,1,90.8,0.000,-1
151,A,A3,1,0,OWN,16.30,debt_consolidation,36 months,1,1,42.2,0.000,-1
158,C,C1,0,6,RENT,6.92,small_business,36 months,0,1,69.5,0.000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55027,B,B5,0,7,MORTGAGE,7.28,credit_card,36 months,0,1,53.5,0.000,1
100438,C,C1,0,6,MORTGAGE,15.37,debt_consolidation,36 months,1,1,63.8,0.000,1
122519,D,D4,1,0,OWN,29.98,debt_consolidation,36 months,1,1,92.7,0.000,1
4161,B,B1,0,5,MORTGAGE,17.33,credit_card,36 months,1,1,77.1,0.000,1
13520,C,C5,0,4,RENT,15.77,debt_consolidation,60 months,1,1,27.5,0.000,1
51558,C,C4,0,11,MORTGAGE,20.88,credit_card,36 months,1,1,78.8,0.000,1
110837,A,A2,0,3,RENT,3.00,credit_card,36 months,1,1,1.2,0.000,1
83788,C,C2,1,0,MORTGAGE,22.27,debt_consolidation,36 months,1,1,71.4,0.000,1
6556,D,D1,0,5,MORTGAGE,5.84,debt_consolidation,36 months,1,1,71.2,0.000,1
106731,A,A5,0,3,MORTGAGE,17.59,debt_consolidation,60 months,1,1,9.0,0.000,1
111533,B,B2,0,8,RENT,16.09,debt_consolidation,36 months,0,0,60.0,0.000,1
115626,C,C5,1,1,MORTGAGE,19.01,credit_card,60 months,1,1,70.7,0.000,1
121848,C,C2,0,11,MORTGAGE,18.37,debt_consolidation,60 months,0,1,28.2,0.000,1
108846,C,C3,0,10,MORTGAGE,13.12,home_improvement,60 months,1,1,40.0,0.000,1
111652,C,C5,0,11,MORTGAGE,20.90,debt_consolidation,36 months,1,1,94.0,0.000,1
74640,A,A1,0,11,MORTGAGE,10.15,debt_consolidation,36 months,1,1,67.2,0.000,1
90254,B,B2,0,4,RENT,14.21,debt_consolidation,36 months,0,1,6.3,0.000,1
73781,C,C3,0,7,MORTGAGE,22.36,credit_card,36 months,0,1,72.4,0.000,1
46499,B,B4,0,11,MORTGAGE,12.02,debt_consolidation,36 months,0,0,36.0,0.000,1
6011,B,B2,0,11,MORTGAGE,10.22,credit_card,36 months,0,1,49.1,0.000,1
92462,C,C1,0,4,RENT,26.35,credit_card,36 months,1,1,76.1,0.000,1
122138,C,C5,0,11,MORTGAGE,4.41,debt_consolidation,60 months,1,0,36.0,0.000,1
98381,B,B5,1,1,RENT,8.37,debt_consolidation,36 months,1,1,71.3,0.000,1
104878,C,C1,0,8,OWN,4.22,credit_card,36 months,1,1,81.6,0.000,1
38265,C,C3,0,7,MORTGAGE,24.32,credit_card,60 months,1,1,50.1,0.000,1
10016,A,A4,0,4,MORTGAGE,21.36,debt_consolidation,36 months,1,1,16.5,0.000,1
58367,B,B1,0,8,MORTGAGE,16.29,debt_consolidation,36 months,1,1,41.0,0.000,1
90431,B,B1,0,9,RENT,14.40,debt_consolidation,36 months,1,1,36.3,0.000,1
115727,F,F5,0,4,RENT,29.45,debt_consolidation,60 months,0,0,36.2,0.000,1
105752,D,D5,0,2,MORTGAGE,11.65,debt_consolidation,60 months,0,1,83.0,0.000,1